<header class="sticky top-0 z-50 flex justify-between items-center px-4 py-3 w-full xl:w-280 mx-auto bg-white/80 text-black/90 shadow-m4 backdrop-blur-lg">
	<img class="rounded-full size-12" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0yl6PzUpxdINQoC9FAZstsK98tYDNXY7pIw&s" alt="WARJ photo">

	<nav class="flex flex-row gap-x-10 opacity-80">
		<a href="#top">Inicio</a>
		<a href="#experiencia">Experiencia</a>
		<a href="#proyectos">Proyectos</a>
		<a href="#sobre-mi">Sobre mí</a>
		<a href="mailto:w.a.r.j.developer@gmail.com">Contacto</a>
	</nav>
</header>