---
// astro
// third
// own
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SocialPill from '../components/SocialPill.astro';
import Projects from '../components/Projects.astro';
import Experience from '../components/Experience.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/GitHub.astro';
import MailIcon from '../icons/Mail.astro';
import BriefcaseIcon from '../icons/Briefcase.astro';
import CodeIcon from '../icons/Code.astro';
import InfoIcon from '../icons/Info.astro';

// code
---

<Layout title='Portfolio de warj - Ingeniero de Sistemas, Desarrollador y Programador Back-end and Front-end con +2 años de experiencia' description='Contracta a warj para crear Innovaciones Tecnológicas.'>
	<main class="px-4">
        <SectionContainer class="py-44 pb-32">
            <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hey, soy warj <a href="https://www.linkedin.com/in/william-andres-ramirez-jimenez-b310a0206" target="_blank" rel="noopener"class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a></h1>
            <h2 class="text-xl lg:text-2xl text-wrap max-w-175"><span>Con +2 años de experiencia.</span> <span class="text-yellow-200/90">Ingeniero de Sistemas, Desarrollador y Programador Back-end and Front-end.</span> <span class="text-red-200/90">De Pereira-Risaralda-Colombia.</span> <span class="opacity-75">Enfocado en crear Innovaciones Tecnológicas.</span></h2>

            <nav class="flex gap-4 mt-8 flex-wrap">
                <SocialPill href="https://www.linkedin.com/in/william-andres-ramirez-jimenez-b310a0206">
                    <LinkedInIcon class="size-4 md:size-6" />
                    LinkedIn
                </SocialPill>
                <SocialPill href="https://github.com/warjdeveloper">
                    <GitHubIcon class="size-4 md:size-6" />
                    GitHub
                </SocialPill>
                <SocialPill href="mailto:w.a.r.j.developer@gmail.com">
                    <MailIcon class="size-4 md:size-6" />
                    w.a.r.j.developer@gmail.com
                </SocialPill>
            </nav>
        </SectionContainer>

        <SectionContainer id="experiencia" class="py-44 pb-32">
            <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
                <BriefcaseIcon class="size-7" />
                Experiencia laboral
            </h2>
            <Experience />
        </SectionContainer>

        <SectionContainer id="proyectos" class="py-44 pb-32">
            <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
                <CodeIcon class="size-7" />
                Proyectos
            </h2>
            <Projects />
        </SectionContainer>

        <SectionContainer id="sobre-mi" class="py-44 pb-100">
            <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
                <InfoIcon class="size-7" />
                Sobre mí
            </h2>
            <p class="ml-3 text-lg mb-4 text-pretty">Soy una persona con la habilidad de buscar solución a cualquier tipo de situación.</p>
        </SectionContainer>
    </main>
</Layout>
